/* :root{
    //declaração de variável com css
    --minha_cor: red;

    usando a variável
    var(--minha_cor)
} */

.navbar{
    background-color: #2F004B;
    height: 60px;
    max-width: 100VW;
}
.logo {
    color: #00BEFF !important;
    font-size: 30px;
    text-decoration: none !important;  
}

.botaonav{
    color: #00BEFF;
    text-decoration-line: none;
    align-items: right !important;
}

.botaonav:hover{
    color:#FF7200;
}