.faixa {
  background-color: rgb(47, 0, 75);
  width: 100%;
  height: 70px;
  left: 0px;
  position: absolute;
}

.barra-pesquisa {
  position: absolute;
  margin-top: 20%;
  width: 100%;
  height: 40px;
  padding: 1%;
}
/* .botoes {
  width: 100%;
}

.bora {
  position: absolute;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  border-radius: 20px;
} */

/* .barra-pesquisa {
  position: absolute;
  left: 25%;
  margin-top: 20%;
  width: 50%;
  height: 40px;
} */

.titulo {
  position: absolute;
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
}

.banner {
  display: flex;
  justify-content: center;
}
