.content{
  display: flex;
  flex-direction: row;
}

#topico-evento{
  height: 40px;
}

.btn {
  width: 100% !important;
}

.div-eventos{
  height: 700px;
  margin-top: 180px;
}

.icone{
  margin-left: 40px;
  text-align: center !important;
  width: 150px !important;
  height: 150px !important;
}

.eventos-titulo{
  text-align: center;
  margin: 30px;
}
.flip-card-front h6{
  margin: 10px;
  color: white;
}

.barra-evento{
  width: 200px;
  border-top: 3px solid white;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 10px;
  border-radius: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.detalhe-evento-card{
  margin: 20px;
}

.botao-evento{
  position: absolute;
  background-color: white;
  width: 250px;
  align-items: left;
}

.botao-evento link{
  text-decoration: none;
  color: white;
  align-self: unset;
  position: absolute;

}

.flip-card-front {
  background-color: #34ACE0;
  color: white;
  border-radius: 15px;
}

.flip-card-back {
  background-color: #34ACE0;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}



/* .jumbotron{
  background-color: gray;

}

.jumbotron h2{
    text-align: center;

    padding-top: -40px
}

.card{
  background-color:#34ACE0;
  border-radius: 10px;
  color: white;
}

.card-header{
  border-bottom: #FFF solid 2px;
  height: 50px;a
  padding: 5px;
  padding-top: 10px;
}

#horario{
  align-content: right;
}

.card-body{
  border-bottom: #FFF solid 2px;
  line-height: 10px;
  text-decoration-color: white;
}

.card-footer{
  display: none;
} */

