#profile-card .card-image {
    height: 150px;
  }
  #profile-card .card-content p {
    font-size: 1.2rem;
    margin: 10px 0 12px 0;
  }
  #profile-card .card-profile-image {
    width: 70px;
    position: absolute;
    top: 110px;
    z-index: 1;
    cursor: pointer;
  }
  #profile-card .btn-move-up {
    position: relative;
    top: -40px;
    right: -18px;
    margin-right: 10px !important;
  }
  #profile-page-header .card-image {
    height: 250px;
  }
  #profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
  }
  #profile-page-header .card-content{
    margin-top: -40px;
  }
  #profile-page-header .card-content .card-title{
    margin-bottom: 0px;
  }
