/* :root{
    //declaração de variável com css
    --minha_cor: red;

    usando a variável
    var(--minha_cor)
} */
footer{
    
    max-width: 100VW ;
    display: flex;
    align-items:center;
}

footer {
    background-color: #2F004B !important ;
}

.footer-item {
    
    color:white;
    width: 50vw;
    /*margin-left: 25vw;*/
}

.borda-teste {
    border: 1px  groove  rgb(255,0,255);
}


.logo-rodape {
    color:white;
    font-size: 30px;
    text-decoration: none !important;
    
}

